@model List<Ereader.ViewModels.Page.PageViewModel>

@{
    ViewData["Title"] = "Index";
    <style type="text/css">
        body {
            background: #ccc;
        }

        #flipbook {
            width: 1152px;
            height: 752px;
        }

            #flipbook .turn-page {
                background-color: #ccc;
                background-size: 100% 100%;
            }
    </style>
}
<div id="flipbook">
    @foreach (var item in Model)
    {

        if (item.ListSentence.Count > 0)
        {
            <div id="page">
                <img src="data:image/png;base64, @item.Image" alt="@item.Id" width="576" height="752" />
                <input type="hidden" id="index" value="@item.ListSentence.FirstOrDefault().IdSentence" />
                <audio id="@item.ListSentence.FirstOrDefault().IdSentence">
                    <source src="data:audio/mp3;base64, @item.ListSentence.FirstOrDefault().SoundFile">
                </audio>
            </div>
        }
        else
        {
            <div>
                <img src="data:image/png;base64, @item.Image" alt="@item.Id" width="576" height="752" />
            </div>
        }
    }
</div>
<script>

    $(window).ready(function () {
        $('#flipbook').turn({
            display: 'double',
            acceleration: true,
            gradients: !$.isTouch,
            elevation: 50,
            when: {
                //turning: function (e, page, view) {
                //    var id = $("#index").val();
                //    var audio = document.getElementById("_" + id);
                //    audio.play();
                //}
            }
        });

        //$('.page-wrapper[style*="display: none"]')
    });

    function pre() {
        var x = $('.page-wrapper').attr('page');
        console.log(x);
        debugger;
        $("#flipbook").turn("previous");
        var id = $("#index").val();
        var audio = document.getElementById("_" + id);
        audio.play();
    }
    async function next() {
        $("#flipbook").turn("next");
        var arr = [];
        var page = $('.page-wrapper').attr('page');
        debugger;
        if (page == '1') {
            arr.push(parseInt(page) + 1);
            arr.push(parseInt(page) + 2);
        } else {
            arr.push(parseInt(page) + 2);
            arr.push(parseInt(page) + 3);
        }
        console.log(arr);
        var getPage = $('.page-wrapper[page=' + arr[0] + '] > div > .page > audio').attr('id');
        var audio = document.getElementById(getPage);
        audio.play();
        audio.onended = await function () {
            getPage = $('.page-wrapper[page=' + arr[1] + '] > div > .page > audio').attr('id');
            audio = document.getElementById(getPage);
            audio.play();
        };
        //for (var i = 0; i < arr.length; i++) {
        //    var getPage = $('.page-wrapper[page=' + arr[i] + '] > div > .page > audio').attr('id');
        //    var audio = document.getElementById(getPage);
        //    audio.play();
        //    audio.onended = await function () {
        //    };
        //}
    }
    $(window).bind('keydown', function (e) {
        if (e.keyCode == 37) {
            this.pre();
        }
        else if (e.keyCode == 39) {
            this.next();
        }
    });



</script>


